<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="addStudentPage">
        <div class="glass">
            <p class="text-heading">Add Student</p>
            <form action="/addstudent" method="post" class="addStudentForm">
                <div class="main">
                    <div class="left">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required><br>
                        <label for="phone">Phone Number</label>
                        <input type="text" id="phone" name="phone" required><br>
                        <label for="father">Father's Name</label>
                        <input type="text" id="father" name="father" required><br>
                    </div>
                    <div class="right">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required><br>
                        <label for="password">Password</label>
                        <input type="text" id="password" name="password" required><br>
                        <label for="previousGrade">Previous Grade</label>
                        <input type="text" id="previousGrade" name="previousGrade" required><br>
                    </div>
                </div>
                <input type="submit" value="Add Student" class="btn">
            </form>
        </div>
    </div>
</body>
</html>