<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="admin-body">
        <div class="glass">
            <div class="text-heading">Admin Functions</div>
            <div class="functions">
                <div class="left">
                    <a href="/editprofile"><button class="btn">Edit Profile</button></a>
                    <a href="/addstudent"><button class="btn">Add Student</button></a>
                    <a href="/removestudent"><button class="btn">Remove Student</button></a>
                </div>
                <div class="right">
                    <a href="/search_updatestudent"><button class="btn">Update Student Info</button></a>
                    <a href="/search_viewstudent"><button class="btn">View Student Profiles</button></a>
                    <a href="/search_managecourses"><button class="btn">Manage Courses</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>