<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="student-body">
        <div class="glass">
            <p class="text-heading"></p>
            <div class="functions">
                <div class="left">
                    <a href="/view_student_profile"><button class="btn">View Profile</button></a>
                    <a href="/view_student_courses"><button class="btn">View Courses</button></a>
                </div>
                <div class="right">
                    <a href="/add_student_courses"><button class="btn">Add Courses</button></a>
                    <a href="/remove_student_courses"><button class="btn">Remove Courses</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>