<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/student.css">
    <title>Document</title>
</head>
<body>
    <div class="functionPage">
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/view_student_profile">View Profile</a></li>
                <li><a href="/view_student_courses">View Courses</a></li>
                <li><a href="/add_student_courses">Add Courses</a></li>
                <li><a href="/remove_student_courses">Remove Courses</a></li>
            </ul>
        </div>
        <div class="glass">
            <p class="text-heading">View Courses</p>
            <% if(locals.courses){ %>
                <div class="functionColumn">
                    <% courses.forEach((course) => { %>
                        <p><%= course %></p>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>