<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/font-awesome/css/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="nav">
                <div class="logo">
                    <a href="/"><img src="/img/logo.png" alt="logo"></a>
                </div>
                <ul>
                    <a href="/">
                        <li id="one" class="active">
                            <div class="upper active">
                                HOME
                            </div>
                        </li>
                    </a>
                    <li id="two">
                        <div class="upper">
                            ACADEMICS &nbsp <svg fill="white" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                                <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                            </svg>
                        </div>
                        <div class="lower hidden">
                            <ul>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Faculty/allfaculty#cs">
                                        Computer Science
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Faculty/allfaculty#ee">
                                        Electrical Engineering
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Faculty/allfaculty#ms">
                                        Management Sciences
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Faculty/allfaculty#sh">
                                        Science &amp; Humanities
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="three">
                        <div class="upper">
                            ADMISSIONS &nbsp <svg fill="white" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 330 330" xml:space="preserve">
                                <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                            </svg>
                        </div>
                        <div class="lower hidden">
                            <ul>
                                <li>
                                    <a href="https://nu.edu.pk/Admissions/Schedule">
                                        Admission Schedule 2024
                                    </a>
                                </li>
                                <li>
                                    <a href="http://nu.edu.pk/Degree-Programs">
                                        Degree Programs
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Admission/eligibility">
                                        Eligibility Criteria
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Admission/feeStructure">
                                        Fee Structure
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Admission/HowToApply">
                                        How To Apply
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="four">
                        <div class="upper">
                            STUDENTS &nbsp <svg fill="white" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                                <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                            </svg>
                        </div>
                        <div class="lower hidden">
                            <ul>
                                <li>
                                    <a href="https://flexstudent.nu.edu.pk/Login">
                                        Student Portal
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/Calender">
                                        Academic Calendar
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/Grading">
                                        Academic Grading
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/Conduct">
                                        Code of Conduct
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/dvp">
                                        Degree Verification Program
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/FinancialRules">
                                        Financial Rules
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/FYP">
                                        FYP
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/HECEquivalence">
                                        HEC Equivalence
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/onestop">
                                        One Stop
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/PhdGraduates">
                                        PHD Graduates
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/Rules">
                                        Rules &amp; Regulations
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Student/TimeTable">
                                        Time Table
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.digitallibrary.edu.pk/natunicomp_emrgsc.html">
                                        HEC Digital Library
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="five">
                        <div class="upper">
                            SERVICES &nbsp <svg fill="white" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                                <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                            </svg>
                        </div>
                        <div class="lower hidden">
                            <ul>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/Acc">
                                        Account
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/Administration">
                                        Administration
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Career Services Office
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/CAO">
                                        Central Academic Office
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/DO">
                                        Director Office
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Human Resources
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/IT">
                                        IT &amp; Network
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/Lib">
                                        Library
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/QEC">
                                        QEC
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Services/SA">
                                        Student Affairs
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="six">
                        <div class="upper">
                            MEDIA &nbsp <svg fill="white" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                                <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                            </svg>
                        </div>
                        <div class="lower hidden">
                            <ul>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Media/Career">
                                        Career
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Media/Procurement">
                                        Procurement
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Media/NewsList">
                                        Press Release
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Media/PhotoGallery">
                                        Photo Gallery
                                    </a>
                                </li>
                                <li>
                                    <a href="http://isb.nu.edu.pk/Media/VedioGallery">
                                        Video Gallery
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <a href="http://isb.nu.edu.pk/Research/Research">
                        <li id="seven">
                            <div class="upper">
                                RESEARCH
                            </div>
                        </li>
                    </a>
                    <a href="/contact">
                        <li id="eight">
                            <div class="upper">
                                CONTACT US
                            </div>
                        </li>
                    </a>
                    
                </ul>
            </div>
        </header>
        <div class="slider-container">
            <div class="left">
                <svg class="left-arrow" width="40px" height="40px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" />
                </svg>
            </div>
            <div class="right">
                    <svg class="right-arrow" height="40px" width="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 330 330" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                        c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                        C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                        C255,161.018,253.42,157.202,250.606,154.389z"/>
                    </svg>
            </div>
            <ul class="slider">
                <li class="one">
                    <div class="img"></div>
                    <div class="text">
                        <h1>COMPUTER SCIENCE</h1>
                    </div>
                </li>
                <li class="two hidden">
                    <div class="img"></div>
                    <div class="text">
                        <h1>ELECTRICAL ENGINEERING</h1>
                    </div>
                </li>
                <li class="three hidden">
                    <div class="img"></div>
                    <div class="text">
                        <h1>MANAGEMENT SCIENCES</h1>
                    </div>
                </li>
                <li class="four hidden">
                    <div class="img"></div>
                    <div class="text">
                        <h1>SCIENCE AND HUMANITIES</h1>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="service-info">
                <div class="card" id="card1">
                    <div class="card-img">
                        <img src="/img/OneStop.png" alt="One Stop">
                    </div>
                    <div class="card-text">
                        <p>One Stop Services</p>
                    </div>
                    <div class="view-more">
                        <a href="http://isb.nu.edu.pk/onestop/" class="view-more-btn">View More</a>
                    </div>
                </div>
                <div class="card" id="card2">
                    <div class="card-img">
                        <img src="/img/programOffred.png" alt="Programs offered">
                    </div>
                    <div class="card-text">
                        <p>Programs Offered</p>
                    </div>
                    <div class="view-more">
                        <a href="http://isb.nu.edu.pk/onestop/" class="view-more-btn">View More</a>
                    </div>
                </div>
                <div class="card" id="card3">
                    <div class="card-img">
                        <img src="/img/Research.png" alt="Research">
                    </div>
                    <div class="card-text">
                        <p>Research &amp; Development</p>
                    </div>
                    <div class="view-more">
                        <a href="http://isb.nu.edu.pk/onestop/" class="view-more-btn">View More</a>
                    </div>
                </div>
            </div>
            <div class="section-2">
                <div class="campus-life">
                    <h2>Campus</h2> <p>Life</p> 
                    <ul class="grid">
                        <li>
                            <img class="grid-item" src="/img/1-.jpg" alt="">
                        </li>
                        <li>
                            <img class="grid-item" src="/img/2-.jpg" alt="">
                        </li>
                        <li>
                            <img class="grid-item" src="/img/3-.jpg" alt="">
                        </li>
                        <li>
                            <img class="grid-item" src="/img/4-.jpg" alt="">
                        </li>
                        <li>
                            <img class="grid-item" src="/img/5-.jpg" alt="">
                        </li>
                        <li>
                            <img class="grid-item" src="/img/6-.jpg" alt="">
                        </li>
                        <li>
                            <img class="grid-item" src="/img/7-.jpg" alt="">
                        </li>
                        <li>
                            <img class="grid-item" src="/img/8-.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-3">
                <div class="recent-news">
                    <h2>Recent <span><p>News</p></span></h2> 
                    <div class="cards">
                        <div class="card">
                            <div class="card-img">
                                <img src="/img/default1.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h3>In IEEE Chipathon eight proposals selected</h3>
                            </div>
                            <hr>
                            <div class="card-link">
                                <a href="http://isb.nu.edu.pk/Media/NewsDetails?NewsId=99">Read More</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/img/pic2.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h3>FAST secured the top 3 positions in Appcon 2021</h3>
                            </div>
                            <hr>
                            <div class="card-link">
                                <a href="http://isb.nu.edu.pk/Media/NewsDetails?NewsId=98">Read More</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/img/pic3.jpg" alt="">
                            </div>
                            <div class="card-text">
                                <h3>Self Assessment Process of CS programs</h3>
                            </div>
                            <hr>
                            <div class="card-link">
                                <a href="http://isb.nu.edu.pk/Media/NewsDetails?NewsId=88">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="upper">
                <div class="logo">
                    <h2>Islamabad Campus</h2>
                    <img src="/img/logo.png" alt="logo">
                </div>
                <div class="sites">
                    <a href="https://flex.nu.edu.pk/">
                        <svg class="right-arrow" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                            C255,161.018,253.42,157.202,250.606,154.389z"/>
                        </svg> NU FLEX
                    </a>
                    <a href="http://slate.nu.edu.pk/portal">
                        <svg class="right-arrow" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                            C255,161.018,253.42,157.202,250.606,154.389z"/>
                        </svg> NU SLATE
                    </a>
                    <a href="http://numen.nu.edu.pk/Login">
                        <svg class="right-arrow" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                            C255,161.018,253.42,157.202,250.606,154.389z"/>
                        </svg> NU NUMUN
                    </a>
                </div>
                <div class="campus">
                    <a href="https://lhr.nu.edu.pk/">
                        <svg class="right-arrow" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                            C255,161.018,253.42,157.202,250.606,154.389z"/>
                        </svg> Lahore Campus
                    </a>
                    <a href="http://pwr.nu.edu.pk/">
                        <svg class="right-arrow" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                            C255,161.018,253.42,157.202,250.606,154.389z"/>
                        </svg> Peshawar Campus
                    </a>
                    <a href="https://khi.nu.edu.pk/">
                        <svg class="right-arrow" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                            C255,161.018,253.42,157.202,250.606,154.389z"/>
                        </svg> Karachi Campus
                    </a>
                    <a href="https://cfd.nu.edu.pk/">
                        <svg class="right-arrow" height="1em" width="1em" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            viewBox="0 0 330 330" xml:space="preserve">
                            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                            C255,161.018,253.42,157.202,250.606,154.389z"/>
                        </svg> Faisalabad Campus
                    </a>
                </div>
                <div class="contact">
                    <p class="heading">Address</p>
                    <p class="text"><i class="fa fa-address-card" aria-hidden="true"></i>  A.K Brohi Road, H 11/4, Islamabad</p>
                    <p class="text"><i class="fa fa-phone" aria-hidden="true"></i> 111-128-128</p>
                    <div class="links">
                        <a href="https://www.facebook.com/FastNUIslamabadOfficial?_rdc=1&_rdr" class="text"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://x.com/FastNU_Official?mx=2" class="text"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.youtube.com/channel/UCGV2HQKLRVo9OTiothZOyWw" class="text"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="lower">
                <a href="/">© 2022 Copyright : isb.nu.edu.pk</a>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js"></script>
</body>
</html>