<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/internship.css">
    <title>Home</title>
</head>
<body>
    <div class="internship-page">
        <header>
            <nav>
                <div class="logo">
                    <a href="/"><img src="/img/logo.webp" alt="Logo"></a>
                </div>
                <ul>
                    <li><a href="/internship">Internship</a></li>
                    <li><a href="/company">Company Collaborations</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="" class="job-portal-btn">Job Portal</a></li>
                    <li><a href="/login" class="internee-login-btn">Internee's Login</a></li>
                </ul>
            </nav>
        </header>
        <section class="intro">
            <div class="img-border">
                <img src="/img/fav.png" alt="">
            </div>
            <h1>Who is internee.pk</h1>
            <p class="text">The ultimate platform designed to turbocharge the IT sector in Pakistan! We recognize the immense potential of talented individuals in the country and aim to bridge the gap between them and the thriving IT industry. Internee.pk offers a comprehensive range of virtual internship opportunities exclusively in the IT field.</p>
            <p class="bottom-text">👇 Click Below and grab your internship now 👇</p>
        </section>  
        <section class="why_join">
            <div class="left"><span>Internships every months</span>&nbsp;<p>Introducing Internee.pk, the ultimate platform designed to turbocharge the IT sector in Pakistan! We recognize the immense potential of talented individuals in the country and aim to bridge the gap between them and the thriving IT industry. Internee.pk offers a comprehensive range of virtual internship opportunities exclusively in the IT field.</p></div>
            <div class="right">
                <a href="/browse-internship" class="btn">Browse Internship</a>
            </div>
        </section>
        <section class="internship_cards">
            <div class="cards">
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/img/BackendDevelopment.webp" alt="">
                    </div>
                    <div class="card-txt">
                        <div class="card-heading">
                            <h3>Backend Development</h3>
                        </div>
                        <!-- <hr> -->
                        <div class="card-end">
                            <div class="card-btn">Apply now</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="task-portal">
            <div class="left">
                <img src="/img/task.webp" alt="" class="floating-img">
            </div>
            <div class="right">
                <div class="txt">
                    <h5>Our own task portal</h5>
                    <h1>Manage Project Via Own Task Portal</h1>
                    <p>Welcome to internee.pk task portal. Where Tasks Transform Into Skills</p>
                </div>
                <div class="icon-content-listing">
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="task-portal-2">
            <div class="left">
                <div class="txt">
                    <h5>Our LMS</h5>
                    <h1>Guided Tutorials in Learning Management System</h1>
                    <p>Want to learn something but don't know what's the roadmap or your english is not too good? That's why we launch LMS for you.</p>
                </div>
                <div class="icon-content-listing">
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="/img/lms.png" alt="" class="floating-img-2">
            </div>
        </section>
    
        <section class="task-portal">
            <div class="left">
                <img src="/img/instructor.png" alt="" class="floating-img-3">
            </div>
            <div class="right">
                <div class="txt">
                    <h5>Our own task portal</h5>
                    <h1>Manage Project Via Own Task Portal</h1>
                    <p>Welcome to internee.pk task portal. Where Tasks Transform Into Skills</p>
                </div>
                <div class="icon-content-listing">
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="task-portal-2">
            <div class="left">
                <div class="txt">
                    <h5>Our LMS</h5>
                    <h1>Guided Tutorials in Learning Management System</h1>
                    <p>Want to learn something but don't know what's the roadmap or your english is not too good? That's why we launch LMS for you.</p>
                </div>
                <div class="icon-content-listing">
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon">
                                    <path d="M2 3H10C10 2.46957 10.2107 1.96086 10.5858 1.58579C10.9609 1.21071 11.4696 1 12 1C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3H22V5H21V16H15.25L17 22H15L13.25 16H10.75L9 22H7L8.75 16H3V5H2V3ZM5 5V14H19V5H5ZM11.85 11.85C11.76 11.94 11.64 12 11.5 12C11.3674 12 11.2402 11.9473 11.1464 11.8536C11.0527 11.7598 11 11.6326 11 11.5V7.5C11 7.36739 11.0527 7.24021 11.1464 7.14645C11.2402 7.05268 11.3674 7 11.5 7C11.64 7 11.76 7.06 11.85 7.15L13.25 8.54C13.57 8.86 13.89 9.18 13.89 9.5C13.89 9.82 13.57 10.14 13.25 10.46L11.85 11.85Z" fill="#43a724"/>
                                </svg>
                            </div>
                            <div class="txt">
                                <p><span>Hands on Projects</span> we believe in learning by doing. Dive into hands-on projects that simulate real-world scenarios. From coding challenges to creative projects, every task is crafted to impart practical skills that resonate in professional environments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="/img/job.png" alt="" class="floating-img-4">
            </div>
        </section>
    
        <section class="homepage-why-content">
            <div class="left">
                <h1>Why internee.pk?</h1>
                <div class="row">
                    <div class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6754 3.17645H6.46186C4.19376 3.17645 2.3551 5.01511 2.3551 7.28321V13.854C2.3551 16.1221 4.19376 17.9608 6.46186 17.9608H14.6687L14.8468 17.9568C17.0316 17.8617 18.774 16.0622 18.7771 13.8552L18.7797 7.28814L18.7821 7.28154C18.7821 5.013 16.9428 3.17437 14.6754 3.17645ZM14.6761 4.81911L14.8208 4.82316C16.0658 4.89422 17.0631 5.89112 17.1353 7.13671L17.1378 7.28275L17.1344 13.8536C17.1325 15.2138 16.0289 16.3168 14.668 16.318L6.46187 16.318C5.10102 16.318 3.99782 15.2148 3.99782 13.854V7.28316C3.99782 5.92231 5.10102 4.81911 6.46187 4.81911L14.6761 4.81911Z" fill="#43a724"/>
                            <g opacity="0.5">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70242 7.52377C6.9985 7.22769 7.4644 7.20491 7.78661 7.45544L7.86399 7.52377L8.82626 8.48604C9.75004 9.40982 11.2248 9.44678 12.1927 8.5969L12.311 8.48604L13.2732 7.52377C13.594 7.20301 14.114 7.20301 14.4348 7.52377C14.7309 7.81985 14.7537 8.28575 14.5031 8.60796L14.4348 8.68534L13.4725 9.64761C11.9173 11.2028 9.42516 11.2499 7.81318 9.78899L7.66469 9.64761L6.70242 8.68534C6.38166 8.36458 6.38166 7.84453 6.70242 7.52377Z" fill="#43a724"/>
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <h5>5500+ Students already registered</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6754 3.17645H6.46186C4.19376 3.17645 2.3551 5.01511 2.3551 7.28321V13.854C2.3551 16.1221 4.19376 17.9608 6.46186 17.9608H14.6687L14.8468 17.9568C17.0316 17.8617 18.774 16.0622 18.7771 13.8552L18.7797 7.28814L18.7821 7.28154C18.7821 5.013 16.9428 3.17437 14.6754 3.17645ZM14.6761 4.81911L14.8208 4.82316C16.0658 4.89422 17.0631 5.89112 17.1353 7.13671L17.1378 7.28275L17.1344 13.8536C17.1325 15.2138 16.0289 16.3168 14.668 16.318L6.46187 16.318C5.10102 16.318 3.99782 15.2148 3.99782 13.854V7.28316C3.99782 5.92231 5.10102 4.81911 6.46187 4.81911L14.6761 4.81911Z" fill="#43a724"/>
                            <g opacity="0.5">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70242 7.52377C6.9985 7.22769 7.4644 7.20491 7.78661 7.45544L7.86399 7.52377L8.82626 8.48604C9.75004 9.40982 11.2248 9.44678 12.1927 8.5969L12.311 8.48604L13.2732 7.52377C13.594 7.20301 14.114 7.20301 14.4348 7.52377C14.7309 7.81985 14.7537 8.28575 14.5031 8.60796L14.4348 8.68534L13.4725 9.64761C11.9173 11.2028 9.42516 11.2499 7.81318 9.78899L7.66469 9.64761L6.70242 8.68534C6.38166 8.36458 6.38166 7.84453 6.70242 7.52377Z" fill="#43a724"/>
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <h5>Task based projects that based on hands on experience</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6754 3.17645H6.46186C4.19376 3.17645 2.3551 5.01511 2.3551 7.28321V13.854C2.3551 16.1221 4.19376 17.9608 6.46186 17.9608H14.6687L14.8468 17.9568C17.0316 17.8617 18.774 16.0622 18.7771 13.8552L18.7797 7.28814L18.7821 7.28154C18.7821 5.013 16.9428 3.17437 14.6754 3.17645ZM14.6761 4.81911L14.8208 4.82316C16.0658 4.89422 17.0631 5.89112 17.1353 7.13671L17.1378 7.28275L17.1344 13.8536C17.1325 15.2138 16.0289 16.3168 14.668 16.318L6.46187 16.318C5.10102 16.318 3.99782 15.2148 3.99782 13.854V7.28316C3.99782 5.92231 5.10102 4.81911 6.46187 4.81911L14.6761 4.81911Z" fill="#43a724"/>
                            <g opacity="0.5">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70242 7.52377C6.9985 7.22769 7.4644 7.20491 7.78661 7.45544L7.86399 7.52377L8.82626 8.48604C9.75004 9.40982 11.2248 9.44678 12.1927 8.5969L12.311 8.48604L13.2732 7.52377C13.594 7.20301 14.114 7.20301 14.4348 7.52377C14.7309 7.81985 14.7537 8.28575 14.5031 8.60796L14.4348 8.68534L13.4725 9.64761C11.9173 11.2028 9.42516 11.2499 7.81318 9.78899L7.66469 9.64761L6.70242 8.68534C6.38166 8.36458 6.38166 7.84453 6.70242 7.52377Z" fill="#43a724"/>
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <h5>Massive Courses with high-quality videos on LMS</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6754 3.17645H6.46186C4.19376 3.17645 2.3551 5.01511 2.3551 7.28321V13.854C2.3551 16.1221 4.19376 17.9608 6.46186 17.9608H14.6687L14.8468 17.9568C17.0316 17.8617 18.774 16.0622 18.7771 13.8552L18.7797 7.28814L18.7821 7.28154C18.7821 5.013 16.9428 3.17437 14.6754 3.17645ZM14.6761 4.81911L14.8208 4.82316C16.0658 4.89422 17.0631 5.89112 17.1353 7.13671L17.1378 7.28275L17.1344 13.8536C17.1325 15.2138 16.0289 16.3168 14.668 16.318L6.46187 16.318C5.10102 16.318 3.99782 15.2148 3.99782 13.854V7.28316C3.99782 5.92231 5.10102 4.81911 6.46187 4.81911L14.6761 4.81911Z" fill="#43a724"/>
                            <g opacity="0.5">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70242 7.52377C6.9985 7.22769 7.4644 7.20491 7.78661 7.45544L7.86399 7.52377L8.82626 8.48604C9.75004 9.40982 11.2248 9.44678 12.1927 8.5969L12.311 8.48604L13.2732 7.52377C13.594 7.20301 14.114 7.20301 14.4348 7.52377C14.7309 7.81985 14.7537 8.28575 14.5031 8.60796L14.4348 8.68534L13.4725 9.64761C11.9173 11.2028 9.42516 11.2499 7.81318 9.78899L7.66469 9.64761L6.70242 8.68534C6.38166 8.36458 6.38166 7.84453 6.70242 7.52377Z" fill="#43a724"/>
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <h5>Empowering youth towards IT revolution & technology</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6754 3.17645H6.46186C4.19376 3.17645 2.3551 5.01511 2.3551 7.28321V13.854C2.3551 16.1221 4.19376 17.9608 6.46186 17.9608H14.6687L14.8468 17.9568C17.0316 17.8617 18.774 16.0622 18.7771 13.8552L18.7797 7.28814L18.7821 7.28154C18.7821 5.013 16.9428 3.17437 14.6754 3.17645ZM14.6761 4.81911L14.8208 4.82316C16.0658 4.89422 17.0631 5.89112 17.1353 7.13671L17.1378 7.28275L17.1344 13.8536C17.1325 15.2138 16.0289 16.3168 14.668 16.318L6.46187 16.318C5.10102 16.318 3.99782 15.2148 3.99782 13.854V7.28316C3.99782 5.92231 5.10102 4.81911 6.46187 4.81911L14.6761 4.81911Z" fill="#43a724"/>
                            <g opacity="0.5">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70242 7.52377C6.9985 7.22769 7.4644 7.20491 7.78661 7.45544L7.86399 7.52377L8.82626 8.48604C9.75004 9.40982 11.2248 9.44678 12.1927 8.5969L12.311 8.48604L13.2732 7.52377C13.594 7.20301 14.114 7.20301 14.4348 7.52377C14.7309 7.81985 14.7537 8.28575 14.5031 8.60796L14.4348 8.68534L13.4725 9.64761C11.9173 11.2028 9.42516 11.2499 7.81318 9.78899L7.66469 9.64761L6.70242 8.68534C6.38166 8.36458 6.38166 7.84453 6.70242 7.52377Z" fill="#43a724"/>
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <h5>Hands on Experience via Virtual internship</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6754 3.17645H6.46186C4.19376 3.17645 2.3551 5.01511 2.3551 7.28321V13.854C2.3551 16.1221 4.19376 17.9608 6.46186 17.9608H14.6687L14.8468 17.9568C17.0316 17.8617 18.774 16.0622 18.7771 13.8552L18.7797 7.28814L18.7821 7.28154C18.7821 5.013 16.9428 3.17437 14.6754 3.17645ZM14.6761 4.81911L14.8208 4.82316C16.0658 4.89422 17.0631 5.89112 17.1353 7.13671L17.1378 7.28275L17.1344 13.8536C17.1325 15.2138 16.0289 16.3168 14.668 16.318L6.46187 16.318C5.10102 16.318 3.99782 15.2148 3.99782 13.854V7.28316C3.99782 5.92231 5.10102 4.81911 6.46187 4.81911L14.6761 4.81911Z" fill="#43a724"/>
                            <g opacity="0.5">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70242 7.52377C6.9985 7.22769 7.4644 7.20491 7.78661 7.45544L7.86399 7.52377L8.82626 8.48604C9.75004 9.40982 11.2248 9.44678 12.1927 8.5969L12.311 8.48604L13.2732 7.52377C13.594 7.20301 14.114 7.20301 14.4348 7.52377C14.7309 7.81985 14.7537 8.28575 14.5031 8.60796L14.4348 8.68534L13.4725 9.64761C11.9173 11.2028 9.42516 11.2499 7.81318 9.78899L7.66469 9.64761L6.70242 8.68534C6.38166 8.36458 6.38166 7.84453 6.70242 7.52377Z" fill="#43a724"/>
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <h5>Complete your task and get market competent job</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6754 3.17645H6.46186C4.19376 3.17645 2.3551 5.01511 2.3551 7.28321V13.854C2.3551 16.1221 4.19376 17.9608 6.46186 17.9608H14.6687L14.8468 17.9568C17.0316 17.8617 18.774 16.0622 18.7771 13.8552L18.7797 7.28814L18.7821 7.28154C18.7821 5.013 16.9428 3.17437 14.6754 3.17645ZM14.6761 4.81911L14.8208 4.82316C16.0658 4.89422 17.0631 5.89112 17.1353 7.13671L17.1378 7.28275L17.1344 13.8536C17.1325 15.2138 16.0289 16.3168 14.668 16.318L6.46187 16.318C5.10102 16.318 3.99782 15.2148 3.99782 13.854V7.28316C3.99782 5.92231 5.10102 4.81911 6.46187 4.81911L14.6761 4.81911Z" fill="#43a724"/>
                            <g opacity="0.5">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.70242 7.52377C6.9985 7.22769 7.4644 7.20491 7.78661 7.45544L7.86399 7.52377L8.82626 8.48604C9.75004 9.40982 11.2248 9.44678 12.1927 8.5969L12.311 8.48604L13.2732 7.52377C13.594 7.20301 14.114 7.20301 14.4348 7.52377C14.7309 7.81985 14.7537 8.28575 14.5031 8.60796L14.4348 8.68534L13.4725 9.64761C11.9173 11.2028 9.42516 11.2499 7.81318 9.78899L7.66469 9.64761L6.70242 8.68534C6.38166 8.36458 6.38166 7.84453 6.70242 7.52377Z" fill="#43a724"/>
                            </g>
                        </svg>
                    </div>
                    <div class="txt">
                        <h5>Direct Collaboration with companies for direct hiring</h5>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="/img/programing.jpg" alt="" class="floating-img-5">
            </div>
        </section>
    
        <section class="testimonials">
            <h1 class="main-heading">What Students are saying about internee.pk</h1>
            <div class="arrows">
                <svg width="28" height="28" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" class="left-arrow">
                    <circle cx="28" cy="28" r="27" stroke="#B7BDC3" stroke-width="2"></circle>
                    <path d="M23.4533 34.1067L29.56 28L23.4533 21.88L25.3333 20L33.3333 28L25.3333 36L23.4533 34.1067Z" fill="#90969D"></path>
                </svg>
                <svg width="28" height="28" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" class="right-arrow">
                    <circle cx="28" cy="28" r="27" stroke="#B7BDC3" stroke-width="2"></circle>
                    <path d="M23.4533 34.1067L29.56 28L23.4533 21.88L25.3333 20L33.3333 28L25.3333 36L23.4533 34.1067Z" fill="#90969D"></path>
                </svg>
            </div>
            <div class="testimonial-cards">
                <div class="card">
                    <div class="card-txt">
                        <p>" internee.pk is the best, most comprehensive 21st-century innovation for those student who's looking for internship and upgrade thier skillsets. Their projects are tough but market valued. "</p>
                    </div>
                    <div class="info">
                        <h3>Rabia Javed</h3>
                        <p>Karachi, Pakistan</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-txt">
                        <p>" internee.pk is all about helping us grow our careers. May ALLAH give them more achivements and success on their journey. "</p>
                    </div>
                    <div class="info">
                        <h3>Rabia Javed</h3>
                        <p>Karachi, Pakistan</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-txt">
                        <p>" Thanks to internee.pk, I grew up my skills here and now i am working as a Flutter Developer in a US company. "</p>
                    </div>
                    <div class="info">
                        <h3>Rabia Javed</h3>
                        <p>Karachi, Pakistan</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-txt">
                        <p>" I find internee.pk to be an outstanding tool for
                            getting hands on experience. Sometimes you have to
                            spend a little to make a lot to develop projects. "</p>
                    </div>
                    <div class="info">
                        <h3>Rabia Javed</h3>
                        <p>Karachi, Pakistan</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-txt">
                        <p>" Amazing! internee.pk is a gamechanger! The way
                            thier team is working is so crazy. Thank you for
                            giving me this opportunity "</p>
                    </div>
                    <div class="info">
                        <h3>Rabia Javed</h3>
                        <p>Karachi, Pakistan</p>
                    </div>
                </div>
            </div>
            <div class="benefits">
                <div class="part">
                    <div class="title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="38" viewBox="0 0 30 38" fill="none">
                            <path d="M30 17.3333C30 26.5833 23.6 35.2333 15 37.3333C6.4 35.2333 0 26.5833 0 17.3333V7.33333L15 0.66666L30 7.33333V17.3333ZM15 34C21.25 32.3333 26.6667 24.9 26.6667 17.7V9.49999L15 4.29999L3.33333 9.49999V17.7C3.33333 24.9 8.75 32.3333 15 34ZM11.6667 27.3333L5 20.6667L7.35 18.3167L11.6667 22.6167L22.65 11.6333L25 14" fill="#43a724"/>
                        </svg>
                        <h1>Safe and secure</h1>
                    </div>
                    <ul>
                        <li>Powered by Microsoft Azure cloud technology.</li>
                        <li>Encrypted at rest and in transit.</li>
                        <li>Data resides in US-based data centers.</li>
                    </ul>
                </div>
                <div class="part">
                    <div class="title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="31" viewBox="0 0 37 31" fill="none">
                            <path d="M20.6667 25.6667C20.6667 25.1 20.7334 24.55 20.8167 24H4.00002V14H30.6667V15.6667C31.8334 15.6667 32.95 15.8833 34 16.25V3.99999C34 2.14999 32.5167 0.66666 30.6667 0.66666H4.00002C2.15002 0.66666 0.666687 2.14999 0.666687 3.99999V24C0.666687 25.8333 2.15002 27.3333 4.00002 27.3333H20.8167C20.7334 26.7833 20.6667 26.2333 20.6667 25.6667ZM4.00002 3.99999H30.6667V7.33333H4.00002V3.99999ZM28.5834 30.6667L24 25.6667L25.9334 23.7333L28.5834 26.3833L34.5667 20.4L36.5 22.75L28.5834 30.6667Z" fill="#43a724"/>
                        </svg>
                        <h1>Free From Internship To Certification</h1>
                    </div>
                    <ul>
                        <li>Profile Building & Optimization</li>
                        <li>Free Learning Management System</li>
                        <li>Hands on Tasks with Certification</li>
                    </ul>
                </div>
            </div>
        </section>
    
        <footer>
            <div class="logo">
                <a href="/"><img src="/img/logo.webp" alt=""></a>
            </div>
            <div class="company">
                <h3>Company</h3>
                <a href="">Contact Us</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms &amp; Conditions</a>
            </div>
            <div class="help">
                <h3>Get help</h3>
                <a href="">Training Videos</a>
                <a href="">Request Help</a>
            </div>
            <div class="socialize">
                <h3>Socialize with us</h3>
                <div class="anchors">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <circle cx="16" cy="16" r="16" fill="url(#paint0_linear)"/>
                        <path d="M14 19L19.19 16L14 13V19ZM25.56 11.17C25.69 11.64 25.78 12.27 25.84 13.07C25.91 13.87 25.94 14.56 25.94 15.16L26 16C26 18.19 25.84 19.8 25.56 20.83C25.31 21.73 24.73 22.31 23.83 22.56C23.36 22.69 22.5 22.78 21.18 22.84C19.88 22.91 18.69 22.94 17.59 22.94L16 23C11.81 23 9.2 22.84 8.17 22.56C7.27 22.31 6.69 21.73 6.44 20.83C6.31 20.36 6.22 19.73 6.16 18.93C6.09 18.13 6.06 17.44 6.06 16.84L6 16C6 13.81 6.16 12.2 6.44 11.17C6.69 10.27 7.27 9.69 8.17 9.44C8.64 9.31 9.5 9.22 10.82 9.16C12.12 9.09 13.31 9.06 14.41 9.06L16 9C20.19 9 22.8 9.16 23.83 9.44C24.73 9.69 25.31 10.27 25.56 11.17Z" fill="white"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="6.15695" y1="27.6361" x2="25.6679" y2="4.54042" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF8600"/>
                        <stop offset="1" stop-color="#FFC100"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <circle cx="16" cy="16" r="16" fill="url(#paint0_linear)"/>
                        <path d="M11.8 6H20.2C23.4 6 26 8.6 26 11.8V20.2C26 21.7383 25.3889 23.2135 24.3012 24.3012C23.2135 25.3889 21.7383 26 20.2 26H11.8C8.6 26 6 23.4 6 20.2V11.8C6 10.2617 6.61107 8.78649 7.69878 7.69878C8.78649 6.61107 10.2617 6 11.8 6ZM11.6 8C10.6452 8 9.72955 8.37928 9.05442 9.05442C8.37928 9.72955 8 10.6452 8 11.6V20.4C8 22.39 9.61 24 11.6 24H20.4C21.3548 24 22.2705 23.6207 22.9456 22.9456C23.6207 22.2705 24 21.3548 24 20.4V11.6C24 9.61 22.39 8 20.4 8H11.6ZM21.25 9.5C21.5815 9.5 21.8995 9.6317 22.1339 9.86612C22.3683 10.1005 22.5 10.4185 22.5 10.75C22.5 11.0815 22.3683 11.3995 22.1339 11.6339C21.8995 11.8683 21.5815 12 21.25 12C20.9185 12 20.6005 11.8683 20.3661 11.6339C20.1317 11.3995 20 11.0815 20 10.75C20 10.4185 20.1317 10.1005 20.3661 9.86612C20.6005 9.6317 20.9185 9.5 21.25 9.5ZM16 11C17.3261 11 18.5979 11.5268 19.5355 12.4645C20.4732 13.4021 21 14.6739 21 16C21 17.3261 20.4732 18.5979 19.5355 19.5355C18.5979 20.4732 17.3261 21 16 21C14.6739 21 13.4021 20.4732 12.4645 19.5355C11.5268 18.5979 11 17.3261 11 16C11 14.6739 11.5268 13.4021 12.4645 12.4645C13.4021 11.5268 14.6739 11 16 11ZM16 13C15.2044 13 14.4413 13.3161 13.8787 13.8787C13.3161 14.4413 13 15.2044 13 16C13 16.7956 13.3161 17.5587 13.8787 18.1213C14.4413 18.6839 15.2044 19 16 19C16.7956 19 17.5587 18.6839 18.1213 18.1213C18.6839 17.5587 19 16.7956 19 16C19 15.2044 18.6839 14.4413 18.1213 13.8787C17.5587 13.3161 16.7956 13 16 13Z" fill="white"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="6.15695" y1="27.6361" x2="25.6679" y2="4.54042" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF8600"/>
                        <stop offset="1" stop-color="#FFC100"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <circle cx="16" cy="16" r="16" fill="white"/>
                        <path d="M16 0C7.19999 0 0 7.21285 0 16.0964C0 24.1285 5.85599 30.7952 13.504 32V20.755H9.43999V16.0964H13.504V12.5462C13.504 8.51406 15.888 6.29719 19.552 6.29719C21.296 6.29719 23.12 6.60241 23.12 6.60241V10.5703H21.104C19.12 10.5703 18.496 11.8072 18.496 13.0763V16.0964H22.944L22.224 20.755H18.496V32C22.2663 31.4022 25.6995 29.4707 28.1758 26.5543C30.6522 23.6379 32.0085 19.9287 32 16.0964C32 7.21285 24.8 0 16 0Z" fill="url(#paint0_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="6.15695" y1="27.6361" x2="25.6679" y2="4.54042" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF8600"/>
                        <stop offset="1" stop-color="#FFC100"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                        <circle cx="16" cy="16" r="16" fill="url(#paint0_linear)"/>
                        <path d="M25.92 10C25.15 10.35 24.32 10.58 23.46 10.69C24.34 10.16 25.02 9.32 25.34 8.31C24.51 8.81 23.59 9.16 22.62 9.36C21.83 8.5 20.72 8 19.46 8C17.11 8 15.19 9.92 15.19 12.29C15.19 12.63 15.23 12.96 15.3 13.27C11.74 13.09 8.57 11.38 6.46 8.79C6.09 9.42 5.88 10.16 5.88 10.94C5.88 12.43 6.63 13.75 7.79 14.5C7.08 14.5 6.42 14.3 5.84 14C5.84 14 5.84 14 5.84 14.03C5.84 16.11 7.32 17.85 9.28 18.24C8.92 18.34 8.54 18.39 8.15 18.39C7.88 18.39 7.61 18.36 7.35 18.31C7.89 20 9.46 21.26 11.35 21.29C9.89 22.45 8.04 23.13 6.02 23.13C5.68 23.13 5.34 23.11 5 23.07C6.9 24.29 9.16 25 11.58 25C19.46 25 23.79 18.46 23.79 12.79C23.79 12.6 23.79 12.42 23.78 12.23C24.62 11.63 25.34 10.87 25.92 10Z" fill="white"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="6.15695" y1="27.6361" x2="25.6679" y2="4.54042" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF8600"/>
                        <stop offset="1" stop-color="#FFC100"/>
                        </linearGradient>
                        </defs>
                    </svg>
                </div>
                <p>+923453191638</p>
                <p>info@internee.pk</p>
                <p>Copyright ©2024 internee.pk Pvt Ltd.</p>
                <p>All rights reserved.</p>
            </div>
        </footer>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js" integrity="sha512-xAxjKW1J/R4TFytv43xvQ7jFTrJlBzsDOH/Aw0fFc2nvarQkE3d08lTicjzUsZJYDoHYDCpwsUUqOJXh34A1sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/EasePack.min.js" integrity="sha512-3fpVLQYwQDyh4nGvxqsfPhUm54etykvg0NRmilMBePJzl3P8BKCrEvR1pIZ5yyct6XROVYtKI2eaT54heI2CfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/internship.js"></script>
</body>
</html>