<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <% if(locals.warning){ %>
            <p class="warning"><%= warning %></p>
        <% } %>
        <div class="login-box">
            <img src="/img/logo.webp" alt="">
            <form action="/login" method="post" class="login">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="Sign In" class="btn">
            </form>
        </div>
    </div>
</body>
</html>